   <div class="container">
  <div class="jumbotron">
    <h1>The Burger Joint<img src="/images/burger.jpg" alt="Burgers" /></h1>       
  </div>

  <div class="container intro">
    <form class="create-update-form" action="/api/burgers" method="POST">
      <div class="form-group">
        <label for="ca">Enter a Burger:</label>
        <input type="text" id="burger" name="burger_name">
      </div>
      <button type="submit" class="btn btn-success btn-sm">Add Burger</button>
    </form>
  </div> 
<br>
  <div class="panel panel-default col-md-5" style="padding: 0px">
    <div class="panel-heading">
      <h3>Burgers to Eat!</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.id}}<span>.</span> {{this.burger_name}}

              <form action="/api/burgers/{{this.id}}" method="PUT">

                {{!-- <input type="hidden" name="devour" value="true"> --}}
                <button type="submit" class="btn btn-warning btn-sm">Devour!</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="panel panel-default col-md-5" style="padding: 0px">
    <div class="panel-heading">
      <h3>Devoured Burgers!</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each burger}}
          {{#if this.devoured}}
            <li>
              {{this.id}}<span>.</span> {{this.burger_name}}

            </li>
          {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
      
</div>